<!DOCTYPE html>
<html lang="en">
    <%- include (`./partials/head.ejs`) %>
<body>
    <%- include (`./partials/nav.ejs`) %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Roses take their own life above the rim of my bed as my mother tries to tuck me into the desert of life</p>
        <p>Roses take their own life above the rim of my bed as my mother tries to tuck me into the desert of life</p>
        <p>Roses take their own life above the rim of my bed as my mother tries to tuck me into the desert of life</p>
        <p>Roses take their own life above the rim of my bed as my mother tries to tuck me into the desert of life</p>
    </div>

    <%- include (`./partials/footer.ejs`) %>
</body>
</html>